<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-sm-4 bg-light sidebar">
      <h5 class="mt-3"> Hi <%= @current_user.username %> </h5>
      <hr>
      <h4> Users </h4>
      <div class="card">
        <%= turbo_stream_from "users" %>
        <div id="users" class="card-body">
          <%= render @users %>
        </div>
      </div>
      <hr>
      <h4> Rooms </h4>
      <%= render partial: "layouts/new_room_form" %>
      <div class="card">
        <%= turbo_stream_from "rooms" %>
        <div id="rooms" class="card-body">
          <%= render @rooms %>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-sm-8 bg-dark">
      <% if @single_room %>
        <h4 class="text-light text-center mt-3 mb-4"> <%= @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages" class="messages">
          <%= render @messages %>
        </div>
        <%= render partial: 'layouts/new_message_form' %>
      <% end %>
    </div>
  </div>
</div>
